<header class="product_header page_header">
  <h1>Panier</h1>
  <span class="dash"></span>
</header>

{% if cart.items != blank %}
<form id="cart-form" class="no_options" method="post" action="/cart" accept-charset="utf8">
  <input type="hidden" name="utf8" value='✓'>
  <div id="cart_description">
    <section id="cart_items">
      <ul>
        {% for item in cart.items %}
        <li class="cart_item{% unless item.product.has_default_option %} with_option{% endunless %}" id="item-{{ item.id }}">
          <div class="item_image"><img src="{{ item.product.image | product_image_url: "medium" }}" alt="Photo of {{ item.name }}"></div>
          <dl>
            <dt><a href="{{ item.product.url }}">{{ item.product.name }}</a></dt>
            <dd class="item_price">{{ item.unit_price | money: theme.money_format }}{% if item.quantity > 1 %}<span class="item_quantity">(x{{ item.quantity }})</span>{% endif %}</dd>
            <dd class="quantity_input">{{ item | item_quantity_input }}</dd>
            {% unless item.product.has_default_option %}<dd class="item_option">{{ item.option.name }}</dd>{% endunless %}
          </dl>
          <a href="#" class="remove_item" title="Remove item from cart">Supprimer l'article</a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section id="cart_options" class="solo_update">
      <div class="cart-update">
        <button id="update-btn-footer" class="update-btn button disabled" name="update" type="submit" title="Update your cart total"><span>Mettre à jour</span></button>
      </div>
    </section>
  </div>

  <section id="cart_summary">
    <ul>
      <li>
        <h3>Articles</h3>
        <span>{{ cart.subtotal | money: theme.money_format }}</span>
      </li>
      <li id="cart_total">
        <h3>Sous-total</h3>
        <h2>{{ cart.total | money: theme.money_format }}</h2>
      </li>
    </ul>

    <button id="checkout-btn" class="button" type="submit" title="Checkout">Passer à la caisse</button>
    <a class="continue_shopping" href="/products" title="Continue shopping">Continuer vos achats</a>
  </section>
</form>
{% else %}
<div id="cart_empty">
  <p>Votre panier est vide. <a href="/">C'est le moment de démarrer votre séance shoping !</a>.</p>
</div>
{% endif %}
